#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$eCC9JfWJxrIu67WN$yywupyUwjTmxwQUez8BMnsgFlyShJ2wduMHg0JWGbGq7/AuTjlsYW7b/NmzUFuaJ/OaQNrXMOfjOLkYuqswiZ.
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
# Create the "admin" user account.
useradd -s /usr/local/bin/proxyConfig.sh admin
echo MTKNMTKN | passwd admin --stdin

# Create the dummy config file.
touch /etc/NASProxy.conf
chmod 777 /etc/NASProxy.conf

# Mount the kickstart ISO.  We need to access some of the stuff on that ISO.
mkdir -p /mnt/sr1
mount /dev/sr1 /mnt/sr1

# Un-tar the tar files so we can get the contents.
cd /
find /mnt/sr1 -name "*.tar" -exec tar -xf {} \;

# Install the dependency RPMs.
for RPMFILE in `ls *.rpm | grep -v NAS_Proxy`; do
	rpm -ihv ${RPMFILE}
done

# Install the NAS Proxy RPM.
NAS_PROXY_RPMFILE=`find . -maxdepth 1 -name "NAS_Proxy*.rpm"`
rpm -ihv ${NAS_PROXY_RPMFILE}

%end

shutdown

